In [1]:
import pandas as pd
import re as r
import numpy as np

import pandas as pd

from keras.models import Sequential

from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D

from sklearn.model_selection import train_test_split

from sklearn.feature_extraction.text import CountVectorizer

from keras.preprocessing.text import Tokenizer

from keras.preprocessing.sequence import pad_sequences

from keras.utils.np_utils import to_categorical

In [2]:
df = pd.read_csv("final.csv")

In [3]:
df.head()

                               comment_text  pol
0                        logan paul big day  0.0
1   follow start vine channel seen 365 vlog  0.0
2                      say hi kong maverick  0.0
3                                fan attend  0.0
4                                     trend  0.0

In [4]:
df.isna().sum()

comment_text    137
pol               0
dtype: int64

In [5]:
df.count()

comment_text     9863
pol             10000
dtype: int64

In [6]:
df = df.dropna(how='any',axis=0)

In [7]:
df.count()

comment_text    9863
pol             9863
dtype: int64

In [8]:
df.pol.value_counts()

 1.0    4172
 0.0    3956
-1.0    1735
Name: pol, dtype: int64

In [9]:
df =df[:2000]

In [10]:
df.count()

comment_text    2000
pol             2000
dtype: int64

In [11]:
df['comment_text'] = df['comment_text'].str.lower()

In [12]:
df['comment_text'] = df['comment_text'].apply((lambda x: r.sub('[^a-zA-z0-9\s]','',x)))

In [17]:
max_fatures = 2000
tokenizer = Tokenizer(num_words=max_fatures, split=' ')
tokenizer.fit_on_texts(df['comment_text'].values)
X = tokenizer.texts_to_sequences(df['comment_text'].values)

In [18]:
X = pad_sequences(X)
X.shape[1]

1243

In [20]:
X = pad_sequences(X,maxlen=1250)